.posts {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

  .posts__sort {
    margin-bottom: 10px;
  }

.post {}

  .post__link {
    display: inline-block;
    vertical-align: top;
  }

  .post__header {
    margin: 10px 0 5px;
    color: #333;
  }

  .post__details {
    display: block;
  }

  .post__author {
    display: block;
    font-size: 16px;
  }

  .post__additional {
    display: block;
    font-size: 14px;
    margin-top: 13px;
  }

  .post__date {
    font-style: italic;
    float: right;
  }

  .post__vote-score {
    opacity: 1 !important;
    cursor: default !important;
    min-width: 26px;
  }

  .post__toolbar {
    display: inline-block;
    vertical-align: middle;
  }
