.post-item {}

  .post-item__link {
    display: inline-block;
    vertical-align: top;
    color: #333 !important;
  }

  .post-item__header {
    margin: 10px 0 5px;
    color: #333;
  }

  .post-item__main {
    float: right;
    margin-top: 10px;
  }
